<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.alertStoreAlert.home.title">Store Alerts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-store-alert" [routerLink]="['/store-alert/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.alertStoreAlert.home.createLabel">
            Create a new Store Alert
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="storeAlerts?.length === 0">
        <span jhiTranslate="gatewayApp.alertStoreAlert.home.notFound">No storeAlerts found</span>
    </div>
    <div class="table-responsive" *ngIf="storeAlerts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="gatewayApp.alertStoreAlert.storeName">Store Name</span></th>
            <th scope="col" ><span jhiTranslate="gatewayApp.alertStoreAlert.storeStatus">Store Status</span></th>
            <th scope="col" ><span jhiTranslate="gatewayApp.alertStoreAlert.timestamp">Timestamp</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let storeAlert of storeAlerts ;trackBy: trackId">
                <td><a [routerLink]="['/store-alert', storeAlert.id, 'view' ]">{{storeAlert.id}}</a></td>
                <td>{{storeAlert.storeName}}</td>
                <td>{{storeAlert.storeStatus}}</td>
                <td>{{storeAlert.timestamp | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/store-alert', storeAlert.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/store-alert', storeAlert.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(storeAlert)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
