<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.storeStore.home.title">Stores</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-store" [routerLink]="['/store/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.storeStore.home.createLabel">
            Create a new Store
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="stores?.length === 0">
        <span jhiTranslate="gatewayApp.storeStore.home.notFound">No stores found</span>
    </div>
    <div class="table-responsive" *ngIf="stores?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="gatewayApp.storeStore.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="gatewayApp.storeStore.address">Address</span></th>
            <th scope="col" ><span jhiTranslate="gatewayApp.storeStore.status">Status</span></th>
            <th scope="col" ><span jhiTranslate="gatewayApp.storeStore.createTimestamp">Create Timestamp</span></th>
            <th scope="col" ><span jhiTranslate="gatewayApp.storeStore.updateTimestamp">Update Timestamp</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let store of stores ;trackBy: trackId">
                <td><a [routerLink]="['/store', store.id, 'view' ]">{{store.id}}</a></td>
                <td>{{store.name}}</td>
                <td>{{store.address}}</td>
                <td jhiTranslate="{{'gatewayApp.StoreStatus.' + store.status}}">{{store.status}}</td>
                <td>{{store.createTimestamp | date:'medium'}}</td>
                <td>{{store.updateTimestamp | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/store', store.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/store', store.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(store)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
